.vs/Management/v16/Server/sqlite3/storage.ide-wal
.vs/Management/v16/Server/sqlite3/storage.ide-shm
.vs/Management/v16/Server/sqlite3/storage.ide
.vs/Management/v16/Server/sqlite3/db.lock
.vs/Management/v16/.suo
Management/obj/Debug/Management_MarkupCompile.lref
Management/obj/Debug/Management_MarkupCompile.i.cache
Management/obj/Debug/Management_MarkupCompile.cache
Management/obj/Debug/Management.csprojAssemblyReference.cache
Management/obj/Debug/Management.csproj.CoreCompileInputs.cache
Management/obj/Debug/MainWindow.g.i.cs
Management/obj/Debug/MainWindow.g.cs
Management/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Management/obj/Debug/App.g.i.cs
Management/obj/Debug/App.g.cs
Management/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Management/obj/Debug/Management_MarkupCompile.i.lref
Management/obj/Debug/Forms/View/MainMenu.g.i.cs
Management/obj/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/
Management/bin/
Management/obj/
packages/
